* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ec715f;
  height: 70px;
}

.nav-list {
  width: 1024px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.nav-list > :first-child {
  margin-right: auto;
}

.nav-list-img {
  background-image: url(img/logo.png);
  background-size: contain;
  display: inline-block;
  height: 70px;
  width: 140px;
}

.nav-list-item {
  font-size: 16px;
  color: #fafafa;
  margin: auto 30px;
  display: inline-block;
}

.main {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main-text {
  font-size: 64px;
  color: #fafafa;
  margin: 200px auto 0;
}

.sub-text {
  font-size: 20px;
  color: #fafafa;
  margin: 10px auto 0;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-box-1 {
  width: 920px;
  margin: auto;
  padding: 90px 0 0 0;
  display: flex;
  flex-direction: column;
}

.portfolio-main-text {
  margin: 0 auto 8px;
  font-size: 32px;
  color: #000;
}

.portfolio-bar {
  height: 3px;
  width: 70px;
  margin: 0 auto 30px;
  background-color: #ec715f;
}

.portfolio-sub-text {
  margin: 0 auto 0;
  font-size: 16px;
  color: #000;
}

.portfolio-box-1 > span:nth-child(5) {
  margin-bottom: 30px;
}

.portfolio-box-2 {
  width: 920px;
  margin: auto;
  padding: 0 0 90px 0;
}

.portfolio-img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.portfolio-box-2 > div:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-box-2 > div:nth-child(2) {
  background-image: url(img/websuku.png);
}

.portfolio-box-2 > div:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-right: 0;
}

.portfolio-box-2 > div:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-bottom: 0;
}

.portfolio-box-2 > div:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin-bottom: 0;
}

.portfolio-box-2 > div:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  margin-right: 0;
  margin-bottom: 0;
}

.feature {
}

.profile {
}

.contact {
}

.footer {
}
