* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ec715f;
  height: 70px;
}

.nav-list {
  width: 1024px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.nav-list > :first-child {
  margin-right: auto;
}

.nav-list-img {
  background-image: url(img/logo.png);
  background-size: contain;
  display: inline-block;
  height: 70px;
  width: 140px;
}

.nav-list-item {
  font-size: 16px;
  color: #fafafa;
  margin: auto 30px;
  display: inline-block;
}

.main {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main-top {
  font-size: 64px;
  color: #fafafa;
  margin: 200px auto 0;
}

.main-text {
  font-size: 20px;
  color: #fafafa;
  margin: 10px auto 0;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-box-1 {
  width: 920px;
  margin: auto;
  padding: 90px 0 0 0;
  display: flex;
  flex-direction: column;
}

.portfolio-top {
  margin: 0 auto 8px;
  font-size: 32px;
  color: #000;
}

.portfolio-bar {
  height: 3px;
  width: 70px;
  margin: 0 auto 30px;
  background-color: #ec715f;
}

.portfolio-text {
  margin: 0 auto 0;
  font-size: 16px;
  color: #000;
}

.portfolio-box-1 > span:nth-child(5) {
  margin-bottom: 30px;
}

.portfolio-box-2 {
  width: 920px;
  margin: 0 auto 90px;
}

.portfolio-img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.portfolio-box-2 > div:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-box-2 > div:nth-child(2) {
  background-image: url(img/websuku.png);
}

.portfolio-box-2 > div:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-right: 0;
}

.portfolio-box-2 > div:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-bottom: 0;
}

.portfolio-box-2 > div:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin-bottom: 0;
}

.portfolio-box-2 > div:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  margin-right: 0;
  margin-bottom: 0;
}

.feature {
  width: 100%;
}

.feature-box-1 {
  width: 980px;
  margin: auto;
  padding: 90px 0 0 0;
  display: flex;
  flex-direction: column;
}

.feature-box-1 > div:nth-child(5) {
  margin-bottom: 30px;
}

.feature-top {
  margin: 0 auto 8px;
  font-size: 32px;
  color: #000;
}

.feature-bar {
  height: 3px;
  width: 70px;
  margin: 0 auto 30px;
  background-color: #ec715f;
}

.feature-text {
  margin: 0 auto 0;
  font-size: 16px;
  color: #000;
}

.feature-box-2 {
  width: 980px;
  margin: auto;
  padding: 0 0 90px 0;
  display: flex;
}

.feature-content {
  width: 320px;
  height: auto;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.feature-box-2 > div:nth-child(3) {
  margin-right: 0;
}

.feature-content-img {
  font-size: 60px;
  margin: 0 auto;
}

i {
  margin: 0 auto;
}

.feature-content-top {
  font-size: 20px;
  color: #000;
  margin: 10px auto;
}

.feature-content-text {
  font-size: 16px;
  color: #000;
  margin: 0 auto;
  padding: 0px auto;
}

.profile {
  width: 100%;
  background-color: #eceff1;
}

.profile-box-1 {
  width: 1024px;
  margin: auto;
  padding: 90px 0 0 0;
  display: flex;
  flex-direction: column;
}

.profile-box-1 > div:nth-child(5) {
  margin-bottom: 30px;
}

.profile-top {
  margin: 0 auto 8px;
  font-size: 32px;
  color: #000;
}

.profile-bar {
  height: 3px;
  width: 70px;
  margin: 0 auto 30px;
  background-color: #ec715f;
}

.profile-text {
  margin: 0 auto 0;
  font-size: 16px;
  color: #000;
}

.profile-box-2 {
  width: 1024px;
  margin: auto;
  padding: 0 0 90px 0;
  display: flex;
}

.profile-img {
  width: 512px;
}

.profile-img-icon {
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  margin: auto;
}

.profile-texts {
  width: 512px;
}

.profile-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-name-text {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.profile-skill {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-skill-text {
  font-size: 16px;
  color: #000;
}

.contact {
}

.footer {
}
